#div-srch-list {
    text-align: left;
}

#div-srch-list p {
    background-color: white;
    color: black;
    z-index: 1000;
    padding: 0;
    margin: 0;
}

#div-srch-list p.selected {
    background-color: gray;
}